commands:
  01_create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_reload_apache.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      sed -i 's/Timeout 60$/Timeout 3600\nProxyTimeout 3700/g' /etc/httpd/conf/httpd.conf
      service httpd reload
